@import './variables.scss';
@import './mixins.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';

.testing-autoprefixer {
  display: flex;
  animation: bar 1s infinite;
}
