<!DOCTYPE html>
<html lang="en">

<head>
  <base href="<%= htmlWebpackPlugin.options.environment.base %>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.environment.pageTitle %>
  </title>
</head>

<body>
  <dcs-app></dcs-app>
</body>

</html>
